// The Calendar view stylesheet

#calendarViewFooter { // footer of the Calendar view
    background-color: $seablue;
}

.labType {
    background-color: $pale-spring-bud;
}

.reservations {
    background-color: $caribbean-green;
}
